<a href="https://colab.research.google.com/github/mjayashri/machine-learning-refresher/blob/main/pandas_refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Panda Series
Panda series are similar to numpy array but it can have axis labels which can be number or any python object

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
help(pd.Series)

### Indexes and Data List

In [ ]:
indexx = ["USA", "India", "China"]
data = [1000,2000,3000]

In [ ]:
my_series = pd.Series(data=data)

In [ ]:
my_series

In [ ]:
pd.Series(data=data,index=indexx)

In [ ]:
random_data = np.random.randint(0,10,3)

In [ ]:
random_data

In [ ]:
names = ["A","B","C"]
names

In [ ]:
age_series = pd.Series(random_data,names)

In [ ]:
age_series

### From dictionary

In [ ]:
ages = {"A":10,"B":20,"C":30}

In [ ]:
ages

In [ ]:
pd.Series(ages)

### Named Index

In [ ]:
q1 = { "japan": 80, "china": 450, "india": 200, "usa": 250 }
q2 = { "japan": 100, "china": 500, "india": 210,"Brazil": 300 }

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [ ]:
sales_q1

In [ ]:
sales_q2["japan"]

In [ ]:
sales_q2[0]

### Operations

In [ ]:
sales_q1 * 3

In [ ]:
sales_q1

In [ ]:
sales_q1 / 10

### Between Series

In [ ]:
sales_q1 + sales_q2

In [ ]:
sales_q1.add(sales_q2)

In [ ]:
sales_q1.add(sales_q2, fill_value= 100)

In [ ]:
sales_q1